.ks-dialog{
	z-index: 100;
}
.ks-stdmod-header{
	height:30px;
	background: #eee;
	color:#000;
	line-height: 30px;
	white-space: nowrap;
	text-align: left;
}
.ks-stdmod-header span{
	display: block;
	position: absolute;
	left: 0;
	padding-left: 20px;
	font-family: Microsoft Yahei;
}
.ks-contentbox{
	line-height: 12px;
}
.ks-ext-close{
	position: absolute;
	right:0;
	top:10;
	display: block;
	width:25px;
	height:30px;
	text-indent: -9999px;
	overflow: hidden;
	background: url('http://api.ditu.aliyun.com/v1.12/res/Ali.Map.Panel.Pointer.RoundRect.Style20_iw.png') no-repeat -10px 3px;
}
.ks-stdmod-body iframe{
	position: absolute;
	left: 0;
	width: 800px;
	height:570px;
	border:0;
}
.ks-ext-mask{
	background: #000;
	filter:alpha(opacity =30);
	-moz-opacity:0.3 ;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}
.ks-stdmod-body{

}

.kc-gen-container{
	width:950px;
	margin:0px auto;
	height:2500px;
}
.kc-gen-container .kc-gen-graph{
	border:1px dashed #ccc;
	margin: 5px;
	cursor: pointer;
	position: relative;
	min-height:200px;
}
.kc-gen-container .kc-gen-graph:hover{
	border-color:#f60;
}
.kc-gen-container .kc-gen-graph:hover .kc-gen-to-add{
	text-decoration: none;
	color: #f60;
}
.kc-gen-to-add{
	font-family: Microsoft Yahei;
	color:#ddd;
	font-size: 30px;
	display: block;
	text-decoration: none;
	text-align: center;
	margin-top: 36px;
}
.kc-gen-to-add:hover{
	text-decoration: none;
	color: #f60;
}
.kc-gen-save-banner{
	position: fixed;
	width:100%;
	height:50px;
	background: #eee;
	bottom: 0px;
	z-index: 2;
}
.kc-gen-save-banner .btn-save-page,.kc-gen-save-banner .btn-add-div{
	display: block;
	width:150px;
	height:30px;
	text-align: center;
	color:#fff;
	position: absolute;
	line-height: 30px;
	border:1px solid #ccc;
	border-radius:3px 3px 3px 3px;
	text-decoration: none;
	right:50px;
	background:#f60;
	font-family: Microsoft Yahei;
	bottom:10px;
}
.kc-gen-save-banner .btn-add-div{
	right:220px;
	background: red;
}

.del-chart{
	position: absolute;
	z-index: 1;
}


.ks-resizable-handler {
    position: absolute;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    z-index: 1;
}
.ks-resizable-handler-t,.ks-resizable-handler-b,  .ks-resizable-handler-r, .ks-resizable-handler-l {
    opacity: 0.6;
    filter: alpha(opacity = 60);
    background-color: #F19EC2;
}
.ks-resizable-handler-t,.ks-resizable-handler-b {
    left: 0;
    height: 5px;
    width: 100%;
    cursor: n-resize;
}
.ks-resizable-handler-b {
    bottom: 0;
}

.ks-resizable-handler-t {
    top: 0;
}
.ks-resizable-handler-r, .ks-resizable-handler-l {
    top: 0;
    height: 100%;
    -height: expression(this.parentNode.offsetHeight);
    width: 5px;
    cursor: e-resize;
}
.ks-resizable-handler-l {
    left: 0;
}

.ks-resizable-handler-r {
    right: 0;
}

.ks-resizable-handler-bl, .ks-resizable-handler-br, .ks-resizable-handler-tl, .ks-resizable-handler-tr {
    position: absolute;
    width: 5px;
    height: 5px;
    border: 1px solid #535353;
    background-color: #E4007F;
    z-index: 2;
}
.ks-resizable-handler-bl {
    left: -3px;
    bottom: -3px;
    cursor: sw-resize;
}

.ks-resizable-handler-br {
    right: -3px;
    bottom: -3px;
    cursor: nw-resize;
}

.ks-resizable-handler-tl {
    left: -3px;
    top: -3px;
    cursor: nw-resize;
}

.ks-resizable-handler-tr {
    right: -3px;
    top: -3px;
    cursor: sw-resize;
}

.select-box {
    position: relative;
    width: 300px;
    height: 150px;
    border: 1px solid gray;
    background: white;
    cursor: auto;
}

.select-box .content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    filter: alpha(opacity = 80);
}


/* 不同的颜色 */

.color9 {
    border-color: #E4007F;

    background: #E4007F;
    background: -moz-linear-gradient(top, #fc46ab 0%, #E4007F 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc46ab), color-stop(100%, #E4007F));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fc46ab', endColorstr = '#E4007F', GradientType = 0);
}
.color8 {
    border-color: #B7AA00;

    background: #B7AA00;
    background: -moz-linear-gradient(top, #e5d727 0%, #B7AA00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5d727), color-stop(100%, #B7AA00));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e5d727', endColorstr = '#B7AA00', GradientType = 0);
}
.color0 {
    border-color: #22AC38;

    background: #22AC38;
    background: -moz-linear-gradient(top, #4dd463 0%, #22AC38 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4dd463), color-stop(100%, #22AC38));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#4dd463', endColorstr = '#22AC38', GradientType = 0);
}
.color3 {
    border-color: #00A0E9;

    background: #00A0E9;
    background: -moz-linear-gradient(top, #3bc2ff 0%, #00A0E9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3bc2ff), color-stop(100%, #00A0E9));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#3bc2ff', endColorstr = '#00A0E9', GradientType = 0);
}
.color1 {
    border-color: #601986;

    background: #601986;
    background: -moz-linear-gradient(top, #8e44b6 0%, #601986 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8e44b6), color-stop(100%, #601986));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#8e44b6', endColorstr = '#601986', GradientType = 0);
}
.color7 {
    border-color: #F19EC2;

    background: #F19EC2;
    background: -moz-linear-gradient(top, #ffcbe2 0%, #F19EC2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffcbe2), color-stop(100%, #F19EC2));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffcbe2', endColorstr = '#F19EC2', GradientType = 0);
}
.color2 {
    border-color: #F2E600;

    background: #F2E600;
    background: -moz-linear-gradient(top, #fff650 0%, #F2E600 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff650), color-stop(100%, #F2E600));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fff650', endColorstr = '#F2E600', GradientType = 0);
}
.color4 {
    border-color: #B3D465;

    background: #B3D465;
    background: -moz-linear-gradient(top, #d8f19d 0%, #B3D465 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8f19d), color-stop(100%, #B3D465));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d8f19d', endColorstr = '#B3D465', GradientType = 0);
}
.color5 {
    border-color: #7ECEF4;

    background: #7ECEF4;
    background: -moz-linear-gradient(top, #c1ebff 0%, #7ECEF4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c1ebff), color-stop(100%, #7ECEF4));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#c1ebff', endColorstr = '#7ECEF4', GradientType = 0);
}
.color6 {
    border-color: #AA89BD;

    background: #AA89BD;
    background: -moz-linear-gradient(top, #e7d4f3 0%, #AA89BD 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7d4f3), color-stop(100%, #AA89BD));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e7d4f3', endColorstr = '#AA89BD', GradientType = 0);
}